body {
    margin: 0;
    text-align: center;
    color: #40514E
}

h1 {
    margin: 0px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 400%;
    color: #66bfbf;
}

h2 {
    color: #66bfbf;
    padding-bottom: 0px;
}

p {
    line-height: 2;
}

hr {
    border: dotted yellow 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h3 {
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.image-seo {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.image-adwords {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.image-fb-ads {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.image-email {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.image-link {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.image-social {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.profile-pic {
    width: 20%;
}

a {
    color: #11999e;
    margin: 10px;
    text-decoration: none;
}

.bottom-container {
    background-color: #66bfbf;
    padding: 0px 0 20px;
}

.middle-container {
    margin: 100px 0;
}

.intro {
    width: 50%;
    margin: auto;
}

.top-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-top: 10%;
}

.contact-message {
    width: 40%;
    margin: 40px auto 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #FFFF00;
    background-image: -webkit-linear-gradient(top, #FFFF00, #3498db);
    background-image: -moz-linear-gradient(top, #FFFF00, #3498db);
    background-image: -ms-linear-gradient(top, #FFFF00, #3498db);
    background-image: -o-linear-gradient(top, #FFFF00, #3498db);
    background-image: linear-gradient(to bottom, #FFFF00, #3498db);
    text-decoration: none;
}

.copyright {
    color: white;
}

.social-media {
    padding-top: 20px;
}

.footer-link:hover {
    color: yellowgreen;
}

.pating-short {
    color: white;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: #66bfbf;
    height: 80px;
    width: 100%;
}

label.logo {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: ;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 50px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
log.hover {
    background: yellowgreen;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: yellowgreen;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}